<div class="jumbotron text-center">
  <h1 class="display-4">¡Nuestra Boda!</h1>
  <p class="lead">Nos casamos el 18 Enero.</p>
  <hr class="my-4">
  <p>Por favor, confirma tu asistencia a través del enlace a continuación.</p>
  <button class="btn btn-primary btn-lg" (click)="openModal(confirmationModal)">Confirmar Asistencia</button>
</div>

<div class="container event-details">
  <h2>Detalles del Evento</h2>
  <p>Aquí encontrarás toda la información importante sobre nuestro gran día.</p>
  <button class="btn btn-secondary" (click)="toggleMap()">Como Llegar</button>

  <!-- Sección del mapa que se muestra u oculta -->
  <div *ngIf="isMapVisible" class="map-container">
    <app-map></app-map>
  </div>
  
  <app-photo-list></app-photo-list>
  
  <!-- Sección de mapa, si deseas integrarlo -->
  <div id="map" style="height: 400px;"></div>
</div>

<!-- Modal de Confirmación -->
<ng-template #confirmationModal>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmar Asistencia</h5>
        <button type="button" class="close text-white" (click)="modalService.dismissAll()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitForm()" #confirmationForm="ngForm">
          <div class="form-group">
            <label for="name" class="font-weight-bold">Nombre:</label>
            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="guestName" required>
          </div>
          <div class="form-group">
            <label for="email" class="font-weight-bold">Correo Electrónico:</label>
            <input type="email" id="email" name="email" class="form-control" [(ngModel)]="guestEmail" required>
          </div>
          <div class="form-group text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Enviar Confirmación</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

